
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #01411c;
  --secondary: #ffc507;
  --tertiary: #B12704;
  --light: #f8f5fa;
  --dark: #484649;
  --darker: #111111;
  --error: rgb(250, 56, 8);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);

}

.container {
  background-color: #484649cc;
  border-radius: 15px;
}

a:hover {
  color: var(--secondary);
}

header {
  background-color: #f8f5fac0;
}

header a {
  color: var(--primary);
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
}

button:hover {
  opacity: .9;

}

button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
  padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 400px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color:var(--secondary);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

.error-text{
  color: var(--error);
}

footer {
    border-top: 1px solid var(--darker);
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 50px;  
}