main {
  margin: 0 auto;
  padding: 20px 20px;
}

:root {
  --IBprimary: #0A2342;
  --IBsecondary: #F0C175;
  --IBtertiary: #DDDBB7;
  --IBlight: #FFFAEF;
  --IBdark: #808370;
  --IBdarker: #111111;
  --IBerror: rgb(123, 2, 2);

}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--IBdark);
  color: var(--IBtertiary);

}

.container {
  background-color: var(--IBdark);
  border-radius: 15px;
}

.nav-link:hover {
  color: var(--IBsecondary);
}

header {
  background-color: var(--IBdark);
}

.nav-link,
.nav-item {
  color: var(--IBlight);
}

button:hover {
  opacity: .9;

}

button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}

form {
  width: 40%;
  padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--IBprimary);
  outline: none;
  border-radius: 8px;
  transition: box-shadow 0.2s;
  width: 400px;
  height: 40px;
}

input:focus {
  border: 1px solid var(--IBsecondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

button {
  background: var(--IBprimary);
  border: 0;
  border-radius: 5px;
  color: var(--IBlight);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.radiobuttons {
  background-color: var(--IBlight);
}

.error-text {
  color: var(--IBerror);
  font-size: smaller;
}

footer {
  border-top: 1px solid var(--IBdarker);
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 50px;
}